<content>
	<section class="options">
		<div>
			<span class="icon player-icon-collapse"></span>
		</div>
		<div>
			<span class="icon player-icon-equalizer"></span>
		</div>
	</section>

	<section class="playlist">
		<ul>
			<li>
				<span class="song-name">Ayben - Rap Benim</span>
				<span class="song-duration"></span>
			</li>
			<li>
				<span class="song-name">Ceza - Delight</span>
				<span class="song-duration"></span>
			</li>
			<li>
				<span class="song-name">Ceza - Feyzal</span>
				<span class="song-duration"></span>
			</li>
			<li>
				<span class="song-name">Ceza - Holocaust</span>
				<span class="song-duration"></span>
			</li>
			<li>
				<span class="song-name">Ceza - Panorama harem</span>
				<span class="song-duration"></span>
			</li>
			<li>
				<span class="song-name">Ceza - Paydos</span>
				<span class="song-duration"></span>
			</li>
			<li>
				<span class="song-name">Ceza - Ceza - Pusulam Yok (Featuring Alaturka Mavzer, Mihenk Tasi & Emre)</span>
				<span class="song-duration"></span>
			</li>
			<li>
				<span class="song-name">Killa Hakan feat Ceza . Sido . Alpa Gun Alles Tamam</span>
				<span class="song-duration"></span>
			</li>
			<li>
				<span class="song-name">MOK  Alpa Gun - Click Bang</span>
				<span class="song-duration"></span>
			</li>
		</ul>
	</section>

	<audio preload="true"></audio>

	<section class="title-bar">&#160;</section>

	<section class="controls">
		<span class="btn-random" data-click="play-random">
			<span class="icon player-icon-random"></span>
		</span>
		<span class="btn-prev" data-click="play-prev">
			<span class="icon player-icon-previous"></span>
		</span>
		<span class="btn-play" data-click="toggle-play">
			<span class="icon player-icon-play"></span>
		</span>
		<span class="btn-next" data-click="play-next">
			<span class="icon player-icon-next"></span>
		</span>
		<span class="btn-repeat" data-click="play-repeat">
			<span class="icon player-icon-repeat"></span>
		</span>
	</section>

	<section class="progress">
		<span class="time-played">&#160;</span>
		<div class="progress-bar" data-click="progress-seek">
			<div class="progress-loaded"></div>
			<div class="progress-played"></div>
		</div>
		<span class="time-total">&#160;</span>
	</section>
</content>
