<content class="show-sidebar">
	<sidebar data-area="sidebar">
		<div class="wrapper">
			<!-- sidebar contents goes here -->

			<div class="wrapper">
				<legend data-id="sidebar-playlists">
					Playlists
					<span class="btn-toggle" toggle-text="Show">Hide</span>
				</legend>
				
				<div class="list-wrapper" sys-click="get-sidebar-item">
					<ul>
						<li>
							<span class="icon" style="background-image: url(~/icons/icon-folder.png);"></span>
							<span class="name">Hiphop</span>
						</li>
						<li class="active">
							<span class="icon" style="background-image: url(~/icons/icon-folder.png);"></span>
							<span class="name">Chillout</span>
						</li>
						<li>
							<span class="icon" style="background-image: url(~/icons/icon-folder.png);"></span>
							<span class="name">Classic</span>
						</li>
						<li>
							<span class="icon" style="background-image: url(~/icons/icon-folder.png);"></span>
							<span class="name">Rock</span>
						</li>
						<li>
							<span class="icon" style="background-image: url(~/icons/icon-folder.png);"></span>
							<span class="name">Oldies</span>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</sidebar>
	
	<list data-area="list">
		<div class="wrapper">
			<!-- list contents goes here -->
		</div>
	</list>
</content>
