<content data-drag-debug1="true" data-dbl-click="handle-dbl-click" data-drag-root>
	<div class="dnd-ux">
		<!-- <div class="dragged-song">
			<span>Ayben &#183; Rap Benim</span>
		</div>

		<div class="dragged-playlist">
			<span>Chillout</span>
		</div> -->
	</div>

	<!-- audio element used to play music -->
	<audio preload="true"></audio>

	<sidebar data-area="sidebar" data-drop-zone="check-sidebar-drop">
		<div class="wrapper">
			<!-- sidebar contents goes here -->
		</div>
	</sidebar>
	
	<list data-area="content" data-drop-zone="check-content-drop">
		<div class="wrapper">
			<!-- list contents goes here -->
		</div>
	</list>

</content>
