
//@import url('https://fonts.googleapis.com/css?family=Nunito:200&display=swap');

border: 1px solid rgba(0,0,150,.3);
background-color: rgba(0,70,180,.8);
backdrop-filter: blur(9px);

.win-caption-buttons_ {
	top: 6px;

	&:not(:hover) btn {
		background: rgba(255,255,255,.35);
		box-shadow: inset 0 0 0 rgba(255,255,255,.5);
	}

	btn:nth-child(1) { left: 2px; }
	btn:nth-child(2) { left: 20px; }
	btn:nth-child(3) { left: 38px; }
}

.win-body_ {
	background: transparent;
}

.win-caption-bar {
	right: 59px;
}

&.antwin-focused_ {
	section.title-bar {
		color: #ffffff80;
	}
	section.controls {

	}
}

content {
	user-select: none;

	&.extended {
		section.options {
			opacity: 1;
			margin-top: 0px;
		}
		section.title-bar {
			padding: 8px 3px 0 11px;
			border-bottom: 1px solid #65aefc20;
		}
		section.playlist {
			opacity: 1;
			margin-top: 0px;
		}
		section.controls {
			border-bottom: 1px solid #65aefc20;
		}
	}

	.icon {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		display: inline-block;

		&.player-icon-collapse { background-image: url(~/icons/icon-collapse.png); }
		&.player-icon-equalizer { background-image: url(~/icons/icon-equalizer.png); }
		&.player-icon-random { background-image: url(~/icons/icon-random.png); }
		&.player-icon-previous { background-image: url(~/icons/icon-previous.png); }
		&.player-icon-play { background-image: url(~/icons/icon-play.png); }
		&.player-icon-next { background-image: url(~/icons/icon-next.png); }
		&.player-icon-repeat { background-image: url(~/icons/icon-repeat.png); }
	}

	section.options {
		//background: rgba(255,255,255,0.05);
		margin-left: 63px;
		padding: 3px 5px;
		height: 27px;
		text-align: right;
		--color-1: #65aefc80;
		font-size: 0;
		opacity: 0;
		margin-top: -27px;
		transition: all 200ms;

		div {
			background: rgba(255,25,255,0.05);
			display: inline-block;
			width: 20px;
			height: 20px;
			padding-top: 3px;
			margin-left: 1px;
			border-radius: 3px;
			text-align: center;

			&:hover .icon {
				opacity: 1;
			}
		}

		.icon {
			width: 14px;
			height: 14px;
			vertical-align: middle;
			pointer-events: none;
			opacity: 0.7;
		}
	}

	audio {
		//display: none;
	}

	section.title-bar {
		height: 29px;
		padding: 9px 0 0 65px;
		font-size: 12px;
		color: #65aefc80;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		transition: padding 200ms;

		//padding: 8px 0 0 11px;
		//background: darken(#0e5389dd, 0.5%);
		//border-bottom: 1px solid #65aefc20;
	}

	section.playlist {
		background: rgba(255,255,255,0.05);
		height: 200px;
		overflow-y: auto;
		color: #65aefc80;
		counter-reset: song-nr;
		overflow-x: hidden;
		overflow-y: auto;
		opacity: 0;
		margin-top: -200px;
		transition: all 200ms;

		ul {
			list-style-type: decimal;

			li {
				display: flex;
				cursor: pointer;
				border-bottom: 1px solid #65aefc20;
				counter-increment: song-nr;

				&:hover {
					background: #65aefc10;
					color: #65aefcf0;
				}

				&:before {
					content: counter(song-nr) ".";
					padding: 10px 3px;
					width: 21px;
					text-align: right;
				}

				span {
					display: inline-block;
					padding: 10px 11px;

					&.song-name {
						flex: auto;
						padding-left: 2px;
					}

					&.song-duration {
						width: 70px;
						text-align: right;
					}
				}
			}
		}
	}

	section.controls {
		padding: 11px 0 12px;
		text-align: center;
		color: rgba(255,255,255,0.6);
		--color-1: rgba(255,255,255,0.6);
		--color-2: transparent;
		border-top: 1px solid #65aefc1a;
		border-bottom: 1px solid #65aefc1a;
		transition: all 200ms;

		> span {
			position: relative;
			display: inline-block;
			padding: 5px 0;
			margin: 0 11px;
			opacity: 0.7;
			cursor: pointer;

			&:hover { opacity: 1; }
			&:active { opacity: 0.7; }

			&.btn-play {
				&.playing .player-icon-play {
					background-image: url(~/icons/icon-pause.png);
				}

				&:before {
					content: '';
					position: absolute;
					top: -5px;
					left: -12px;
					width: 36px;
					height: 36px;
					border: 1.5px solid rgba(255,255,255,0.5);
					border-radius: 50%;
				}
			}
			&.btn-random,
			&.btn-repeat {
				&.active:after {
					content: "";
					background: #fff;
					position: absolute;
					bottom: -3px;
					left: 50%;
					width: 4px;
					height: 4px;
					border-radius: 50%;
					transform: translateX(-50%);
				}
			}
		}
		.icon {
			width: 18px;
			height: 18px;
			vertical-align: middle;
			pointer-events: none;
		}
	}

	section.progress {
		height: 36px;
		padding: 12px 13px 13px;
		display: flex;
		color: rgba(255,255,255,0.5);

		span {
			position: relative;
			width: 37px;
			text-align: left;
			padding: 0;

			&.time-total {
				text-align: right;
			}
		}
		.progress-bar {
			background: rgba(255,255,255,0.05);
			position: relative;
			top: 4px;
			height: 4px;
			flex: auto;
			cursor: pointer;
			border-radius: 4px;

			.progress-loaded {
				background: rgba(255,255,255,0.1);
				position: absolute;
				height: inherit;
				border-radius: inherit;
				//.transitionWhat(width, 1000ms);
			}

			.progress-played {
				background: #ddf;
				position: absolute;
				height: inherit;
				border-radius: inherit;
				min-width: 2px;
				//box-shadow: 0 0 5px #fff;
				//.transitionWhat(width, 1000ms);
			}
		}
	}
}
