
&[data-theme="dark"] {

	&.win-body-focused_ {}

	.sample-view {
		background: transparent;
		color: #999;
		text-shadow: 0 0 0;

		h2 {
			color: #aaa;
		}

		> div {
			> h3 {
				color: #aaa;
			}
		}

		.block-buttons {
			.btn {
				background: rgba(0,0,0,.25);
				box-shadow: inset 0 1px 0 rgba(0,0,0,.075),
							0 0 0 2px rgba(255,255,255,.35);

				&:hover:not(.disabled_) {
					box-shadow: 0 0 0 3px #489bf770,
								0 0 0 2px #489bf7;
				}
				
				i {
					left: -1px;
					opacity: .35;
					filter: invert(1) brightness(2);
				}
			}
		}

		.sample-block {
			.table {
				.table-body {
					.cell {
						color: rgba(#fff,.35);
					}
				}
			}
		}
	}

	sidebar {
		color: #ccc;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			width: 1px;
			background: linear-gradient(0deg, transparent 7%, #ffffff30 50%, transparent 93%);
		}

		&:after {
			right: 1px;
			border-right-color: rgba(0,0,0,.25);
		}

		.wrapper {
			padding-right: 1px;

			.list-wrapper {
				ul {
					li {
						&.active {
							&:after {
								filter: invert(1) brightness(2) drop-shadow(0 1px 0 rgba(#000,.25));
							}

							.name {
								color: #ccc;
							}
						}
					}

					.name {
						color: #bbb;
					}

					i[class^="icon-"] {
						filter: invert(1) brightness(2) drop-shadow(0 1px 0 rgba(#000,.25));

						&.down {
							filter: invert(1) brightness(2) drop-shadow(1px 0 0 rgba(#000,.25));
						}
					}
				}

				.new-playlist {
					i.icon-plus:first-child {
						filter: invert(1) brightness(2) drop-shadow(0 1px 0 rgba(#000,.25));
					}
				}

				.name {
					color: #aaa;
				}
			}
		}
	}

	list {
		.wrapper {
			.playlist-info {
				h2 {
					color: #bbb;
					text-shadow: 0 1px 1px rgba(#000,.1);
				}
			}
		}
	}

	content {
		.table {
			color: #ccc;

			i[class^="icon-"] {
				filter: invert(1) brightness(2);
			}

			.row {
				color: #ccc;
				border-bottom-color: rgba(#fff,.1);

				&.head {
					.cell {
						i.icon-clock {
							filter: invert(1) brightness(2) drop-shadow(0 1px 2px rgba(#000,.3));
						}

						&.sort-desc:after {
							filter: invert(1) brightness(2) drop-shadow(1px 0 0 rgba(#000,.25));
						}

						&.sort-asc:after {
							filter: invert(1) brightness(2) drop-shadow(-1px 0 0 rgba(#000,.25));
						}
					}
				}

				&.track-playing {
					color: #fff;

					.cell:nth-child(1) {
						.icon-heart,
						.icon-heart-full {
							opacity: .6;
							filter: invert(1) brightness(3) drop-shadow(0 1px 0 rgba(#000,.25));
						}
					}
				}

				&:not(.head) .cell:nth-child(2) {
					color: #ddd;
				}

				i[class^="icon-"] {
					filter: invert(1) brightness(2) drop-shadow(0 1px 0 rgba(#000,.25));
				}
			}
		}

		.ux-swap {
			.rename-field {
				box-shadow: 0 0 0 1px rgba(#000,.15),
							0 1px 3px rgba(#000,.25);
			}
		}
	}
}
