
.tools-left {
	width: calc(50% - 200px);
	text-align: right;

	> div:last-child {
		margin-right: 0;
	}
}

.display {
	width: 320px;
	height: 30px;
	padding-left: 17px;
	padding-right: 17px;

	&:after {
		content: "";
		position: absolute;
		top: -3px;
		bottom: 3px;
		left: 18px;
		right: 18px;
		z-index: 1;
		pointer-events: none;
		border-radius: 3px;
		box-shadow: 0 0 0 1px rgba(#000,.35);
	}

	.toolbar-field_ {
		position: absolute;
		left: 0;
		bottom: 1px;
		z-index: 3;
		font-size: 9px;
		text-transform: uppercase;
		color: #333;
		height: 13px;
		line-height: 1;
		background: transparent;
		box-shadow: 0 0 0;
		border: 0;
	}

	.toolbar-canvas_ {
		position: relative;
		top: -4px;
		width: 100%;
		height: 100%;
		z-index: 4;
		border-radius: 4px;
	}
}

.tools-right {
	width: calc(40% - 120px);

	input[type=range] {
		width: 110px;
		margin: 0 3px;
	}
}

.toolbar-group_:last-child.empty {
	width: 10%;
}
