
.tools-left {
	width: calc(50% - 200px);
	text-align: right;

	> div:last-child {
		margin-right: 0;
	}
}

.display {
	width: 320px;
	height: 31px;
	padding-left: 17px;
	padding-right: 17px;

	&:after {
		content: "";
		position: absolute;
		top: -3px;
		bottom: 3px;
		left: 18px;
		right: 18px;
		z-index: 1;
		pointer-events: none;
		background: radial-gradient(ellipse at bottom center, rgba(#fff,.5), transparent 80%),
					linear-gradient(180deg, #e1e1e1 0%, #c5c5c5 43%, #bbb 43%, #b1b1b1 100%);
		border-radius: 3px;
	}

	.toolbar-field_ {
		position: absolute;
		left: 0;
		bottom: 1px;
		z-index: 3;
		font-size: 9px;
		text-transform: uppercase;
		color: #333;
		height: 13px;
		line-height: 1;
		background: transparent;
		box-shadow: 0 0 0;
		border: 0;

		&:before {
			content: "";
			position: absolute;
			top: -20px;
			left: 17px;
			right: 17px;
			height: 1px;
			opacity: .25;
			background: linear-gradient(90deg, transparent 0%, #fff 50%, transparent 100%);
			pointer-events: none;
		}

		&:after {
			content: "";
			position: absolute;
			pointer-events: none;
			top: -19px;
			left: 19px;
			right: 19px;
			height: 29px;
			border-radius: 3px;
			box-shadow: 0 0 0 1px rgba(#000,.2);
			pointer-events: none;
		}
	}

	.toolbar-canvas_ {
		position: relative;
		top: -4px;
		width: 100%;
		height: 100%;
		z-index: 4;
		border-radius: 4px;
	}
}

.tools-right {
	width: calc(40% - 120px);

	&:last-child {
		text-align: left;
	}

	.toolbar-options_ {
		.toolbar-tool_ {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

.toolbar-group_:last-child.empty {
	width: 10%;
}
